/* * {
    box-sizing: border-box;
} */

body {
    height: 100vh;
    width: 100vw;
    background: center no-repeat url('./img/joe-woods-4Zaq5xY5M_c-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .App {
    padding: 0;
    overflow: scroll;
} */

input, textarea {
    outline: none;
    resize: none;
    color: #333;
}

.notes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin: 25px;
}

.app-header__title {
    font-size: 4em;
    margin: 50px 20px 30px 20px;
    color:rgba(55, 43, 16, .7);
    font-family: 'Stardos Stencil', cursive;
}

.app-header__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 10px;
    width: calc(100% - 20px);
}

.search, .add-new {
    font-size: 1em;
    padding: 5px;
    margin: 8px;
    border: none;
}

.search {
    flex-grow: 1;
    flex-shrink: 2;
    max-width: 300px;
    padding: 1em;
}

.add-new {
    cursor: pointer;
    padding: 1em;
    flex-shrink: 1;
    font-weight: bolder;
    background-color: rgba(55, 43, 16, .7);
    outline: none;
    color: white;
}

.notes-list li{
    transform: rotate(-6deg);
  }

.notes-list li:nth-child(even) {
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
.notes-list li:nth-child(3n){
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
.notes-list li:nth-child(5n){
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }

.note {
    font-family: "Permanent Marker", cursive;
    width: 250px;
    height: 250px;
    margin: 25px;
    background-color: lightyellow;
    /* border: 1px solid grey; */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* box-shadow: 2px 2px 3px lightgrey; */
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.note__title, .note__description {
    font-family: "Permanent Marker", cursive;
    width: calc(100% = 28px);
    padding: 8px 14px;
    background: transparent;
    background: none;
    border: none;
}

.note__title {
    
    font-size: 1.125em;
    font-weight: bold;
}

.note__description {
    flex-grow: 1;
    font-size: 1em;
}

.note__delete {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    color: gray;
    padding: 5px;
}

.note__delete:hover {
    color: #333;
    cursor: pointer;
}